<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Jannahs congrats page </title>
</head>

<script src="static/js/d3.v5.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/jannah.css">
<script src="static/js/jannah2.js"></script>

<div id="viz-word-snake"></div>
<div class="parent">
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
</div>
<div class="sakura">
  <div class="container">
    <div id="info">
      <div id="location"></div>
      <div id="time"></div>
    </div>
  </div>
</div>

<!--http://www.beautifulinenglish.com/  -->
</html>