<!DOCTYPE html>
<html lang="en">
<head>
    <style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
<meta charset="utf-8">
<body>

&nbsp
&nbsp
&nbsp
&nbsp
<h1></h1>
<br>
<p></p>
<br>

<script src="static/js/d3.v5.min.js"></script>
<script src="static/js/jannahJumble.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/jannah.css">

<div id="viz-word-snake"></div>
<svg id="jannahSVG" width="1000" height="500"></svg>

<div class="parent">
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
</div>
<div class="sakura">
  <div class="container">
    <div id="info">
      <div id="location"></div>
      <div id="time"></div>
    </div>
  </div>
</div>

</body>
</html>